*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	transition: all 0.3s ease-out;
}
.image{
	max-width:100%;
}
.bg-menu{
	background-image:url(../img/bg.svg);
	padding: 20px 0px;
}
body{
	font-family: 'Poppins', sans-serif;
}
.logo>ul>li>a{
	    color: white;
}